<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="https://hueywoonlee.github.io/pages/acknowledgements/">Acknowledgements</a>
    <a class="sidebar-nav-item" href="https://hueywoonlee.github.io/pages/lectures/">Lectures</a>
    <a class="sidebar-nav-item" href="https://hueywoonlee.github.io/pages/R/">R Tutorials</a>
    <a class="sidebar-nav-item" href="https://hueywoonlee.github.io/pages/SPSS/">SPSS Tutorials</a>
    <a class="sidebar-nav-item" target="_blank" type="application/pdf" href="https://www.dropbox.com/s/4sckrsre1gqsmhz/Huey%20Woon%20Lee%20Work%20CV%202018May.pdf?dl=0">CV</a>
    <a class="sidebar-nav-item" href="https://github.com/hueywoonlee/hueywoonlee.github.io">GitHub</a>
    
    
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
